.operationsintegration-wrapper {
    width: 100%;
    height: fit-content;
    max-width: 106.4rem;
    margin-inline: auto;
    padding-inline: 2rem;
}

.operationsintegration-main {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-inline: 13rem;
    padding-block-start: 4.8rem;
    padding-block-end: 9.6rem;
}

.oi-top-line {
    width: 100%;
    height: 0.012rem;
    background-color: #000000;
}

.oi-content {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-inline: 5.4rem;
}

.oi-header {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 0.4rem;
    padding-block: 1.6rem 2.4rem;
    margin-top:3rem;
}

.oi-title {
    margin: 0;
    font-family: 'NeueHaasDisplayThin';
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    line-height: 120%;
    color: rgba(0, 0, 0, 1);
}

.oi-subtitle {
    margin: 0;
    font-family: 'NeueHaasDisplayXXThin';
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    line-height: 140%;
    color: #000000;
}

.oi-border-box {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border: 0.01rem solid #000000;
    /* border-radius: 0.4rem; */
    overflow: hidden;
}

.oi-grid {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.oi-card {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    padding: 1.6rem 2rem;
    border-right: 0.012rem solid #000;
}

.oi-card:last-child {
    border-right: none;
}

.oi-dash {
    width: 1.6rem;
    height: 0.1rem;
    background-color: rgba(0, 0, 0, 1);
}

.oi-card-title {
    margin: 0;
    font-family: 'NeueHaasDisplayThin';
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    line-height: 120%;
    color: rgba(0, 0, 0, 1);
}

.oi-card-desc {
    margin: 0;
    font-family: 'NeueHaasDisplayThin';
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    line-height: 150%;
    color: rgba(115, 115, 115, 1);
}

@media screen and (max-width: 1730px) {
    .operationsintegration-wrapper {
        max-width: 90rem;
    }
    .operationsintegration-main {
        padding-inline: 2rem;
    }
}

@media screen and (max-width: 1360px) {
    .operationsintegration-wrapper {
        max-width: 75rem;
    }
    .operationsintegration-main {
        padding-inline: 0rem;
    }
    .oi-title {
        font-size: 1.1rem;
    }
    .oi-subtitle {
        font-size: 0.74rem;
    }
    .oi-card-title {
        font-size: 0.84rem;
    }
    .oi-card-desc {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 700px) {
    .operationsintegration-main {
        padding-inline: 0rem;
        padding-block-start: 3rem;
        padding-block-end: 5rem;
    }
    .oi-content {
        padding-inline: 1.2rem;
    }
    .oi-grid {
        grid-template-columns: 1fr;
    }
    .oi-card {
        padding: 1.4rem 1.6rem;
        border-right: none;
        border-bottom: 0.012rem solid rgba(229, 229, 229, 1);
    }
    .oi-card:last-child {
        border-bottom: none;
    }
}