/* .about-flex-wrapper{
    max-width: 120rem;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-inline: 8.4rem;
    display:flex;
    flex-direction: column;
    row-gap:2.4rem;
} */


/* ===================== */
.about-flex-wrapper {
  max-width: 120rem;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-inline: 8.4rem;
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
  position: relative;
}

.stack-card {
  position: sticky;
  top: 0;
  min-height: 100svh;
  overflow: hidden;
  will-change: transform;
  transform-origin: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
}

/* -------------------------responsive---------------------------------------- */
@media screen and (max-width: 1730px) {
    .about-flex-wrapper {
        max-width: 100rem;
        padding-inline: 6rem;
    }
}

@media screen and (max-width: 1360px) {
    .about-flex-wrapper {
        max-width: 75rem;
        padding-inline: 4rem;
        row-gap: 1.5rem;
    }
}

@media screen and (max-width: 930px) {
    .about-flex-wrapper {
        padding-inline: 1.5rem;
    }
}

@media screen and (max-width: 600px) {
    .about-flex-wrapper {
        padding-inline: 1rem;
        row-gap: 1.2rem;
    }
}

@media screen and (max-height: 428px) {
    .about-flex-wrapper {
        padding-inline: 1rem;
        row-gap: 1rem;
    }
}