.ourpartners-wrapper{
    height:fit-content;
    width:100%;
    max-width:106.4rem;
    margin-inline:auto;
    padding-inline:2rem;
    padding-block-end:6rem;
    display:flex;
    flex-direction: column;
    row-gap: 3.36rem;
    margin-top:6.6rem;
}

.ourpartners-wrapper .ourpartners-top{
    height:fit-content;
    width:100%;
    display:flex;
    flex-direction: column;
    row-gap:1.2rem;
}

.ourpartners-wrapper .ourpartners-top h2{
    text-align: center;
    font-size:2.4rem;
    text-align:center;
    font-family: 'NeueHaasDisplayThin';
    font-weight:600;
    letter-spacing: 0.096rem;
    line-height:100%;
}

.ourpartners-wrapper .ourpartners-top p{
    text-align: center;
    font-size:1.08rem;
    text-align:center;
    font-family: 'NeueHaasDisplayXThin';
    font-weight:600;
    line-height:100%;
    letter-spacing:0.06rem;
}