.authentication-wrapper{
    height:fit-content;
    width:100%;
    max-width:106.4rem;
    margin-inline:auto;
    padding-inline:2rem;
    padding-block-end:6rem;
    display:flex;
    flex-direction: column;
    row-gap: 3.36rem;
    /* margin-top:5.5vw; */
    background:rgba(250, 250, 250, 1);
}

.authentication-wrapper .authentication-top{
    height:fit-content;
    width:100%;
    display:flex;
    flex-direction: column;
    row-gap:1.2rem;
    padding-block-start:6rem;
}

.authentication-wrapper .authentication-top h2{
    text-align: center;
    font-size:2.4rem;
    text-align:center;
    font-family: 'NeueHaasDisplayThin';
    font-weight:600;
    letter-spacing: 0.096rem;
    line-height:100%;
}

.authentication-wrapper .authentication-top p{
    text-align: center;
    font-size:1.08rem;
    text-align:center;
    font-family: 'NeueHaasDisplayXThin';
    font-weight:600;
    line-height:100%;
    letter-spacing:0.06rem;
}

.authentication-bottom{
    height:25.2rem;
    width:100%;
}

.authentication-bottom .img{
    height:100%!important;
    width:100%!important;
    object-fit:cover;
    object-position:center;
    position:static!important;
}