.herocoverview-section{
    height:90svh;
    width:100%;
    background-color:black;
    overflow:hidden;
}
.herocoverview-section-wrapper{
    height:100%;
    width:100%;
    position:relative;
    max-width:120rem;
    margin-inline:auto;
}
.herocoverview-section-wrapper .herocoverview-section-img{
    height:100%;
    width:100%;
    position:relative;
}
.herocoverview-section-wrapper .herocoverview-section-img img{
    height:100%;
    width:100%;
    object-fit:cover;
    object-position:center;
}
.herocoverview-section-img-overlay {
    position: absolute;
    inset: 0;
    background: radial-gradient(49.45% 49.45% at 49.04% 45.2%, rgba(0, 0, 0, 0.2) 0%, #000000 100%);
    z-index: 1;
}

/* ------herocoverview-section-text-wrapper------ */
.herocoverview-section-text-wrapper {
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
    display: flex;
    position: absolute;
    bottom: 2.8vw;
    left: 50%;
    transform: translateX(-50%);
    min-width:70%;
    max-width:70%;
}
.herocoverview-section-text-wrapper h1{
    font-size:2.64rem;
    font-family: 'NeueHaasGroteskLight';
    font-weight:normal;
    text-align:center;
    color:#fff;
    line-height:117%;
}
.download-brocher {
    position: relative;
    border-radius: 6rem;
    width: 18.6rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.77rem;
    background:transparent;
    z-index: 1;
    text-decoration:none;
}

.download-brocher::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 0.12rem;
    border-radius: 6rem;
    background: linear-gradient(180deg, #B5B5B5 -111.7%, #000000 162.48%);
    
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

    z-index: -1;
}

.download-brocher span{
    color:white;
    font-family: 'NeueHaasGroteskLight';
    font-size: 1.07rem;
    line-height:100%;
    letter-spacing:0.05rem;
}
/* ----------------------------------responsive----------------------------- */

@media screen and (max-width:1800px) {
    
}
@media screen and (max-width:1360px){
    .herocoverview-section-text-wrapper h1 {
        font-size: 2.44rem;
    }
    .download-brocher {
        width: 14rem;
        height: 2.7rem;
        margin-top: 1.8rem;
    }
    .download-brocher span {
        font-family: 'NeueHaasGroteskLight';
        font-size: 0.9rem;
        letter-spacing: 0;
    }
    
}
@media screen and (max-width:600px){
    .herocoverview-section-text-wrapper {
        max-width:90%;
        min-width:90%;
        bottom:3rem;
    }
    .herocoverview-section-text-wrapper h1{
        font-size:1.8rem;
    }
    
}
