*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  letter-spacing: 0;
}
@font-face {
  font-family: 'NeueHaasGroteskLight2';
  src: url('/fonts/NeueHaasDisplayLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
/* }------------------new------------------ */
@font-face {
  font-family: 'NeueHaasGroteskLight';
  src: url('/fonts/neue-haas-grotesk-display-pro/NeueHaasDisplayLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
/* }------------------new------------------ */
@font-face {
  font-family: 'NeueHaasGroteskMedium';
  src: url('/fonts/neue-haas-grotesk-display-pro/NeueHaasDisplayMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasDisplayThin';
  src: url('/fonts/neue-haas-grotesk-display-pro/NeueHaasDisplayThin.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}