.historyinovation-section {
    width: 100%;
    background-color: #fff;
    padding-block-start: 1.92rem;
}

/* ------heading area------ */
.historyinovation-heading-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.historyinovation-heading-title {
    font-size: 2.4rem;
    font-family: 'NeueHaasDisplayThin';
    font-weight: 600;
    color: #000;
    letter-spacing: 0.048rem;
    padding-block-end: 0.96rem;
    line-height: 110%;
}

.historyinovation-heading-desc {
    font-size: 1.08rem;
    font-family: 'NeueHaasDisplayXThin';
    font-weight: 600;
    color: #000;
    letter-spacing: 0.024rem;
    line-height: 160%;
    margin: 0;
}

/* ------1360px------ */
@media screen and (max-width: 1360px) {
    .historyinovation-heading-title {
        font-size: 2.2rem; /* 2.4 - 0.2 */
    }
    .historyinovation-heading-desc {
        font-size: 0.88rem; /* 1.08 - 0.2 */
    }
}

/* ------600px------ */
@media screen and (max-width: 600px) {
    .historyinovation-heading-title {
        font-size: 1.8rem; /* 2.2 - 0.4 */
    }
}