.authentication-wrapper{
    height: fit-content;
    width: 100%;
    border-top: solid 0.12rem rgba(0,0,0,1);
}
.authentication-main{
    height:fit-content;
    width:100%;
    max-width:106.4rem;
    padding-inline:2rem;
    margin-inline:auto;
    display: flex;
    flex-direction: column;
    row-gap: 4.8rem;
    align-items: center;
}
.authentication-top{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    row-gap: 2.4rem;
    padding-top: 3rem;
}

.authentication-top-1{
    height: fit-content;
    width: 100%;
}

.authentication-top-1 h2{
    line-height: 100%;
    font-size: 2.4rem;
    letter-spacing: 0.096rem;
    font-family: 'NeueHaasDisplayThin';
    font-weight: 600;
    text-align: center;
    width: 100%;
    display: block;
}

.authentication-top-2{
    height: fit-content;
    width: 100%;
    max-width:37%;
    display: flex;
    flex-direction: column;
    row-gap: 0.6rem;
}

.authentication-top-2 p{
    line-height: 150%;
    font-size: 1.08rem;
    letter-spacing: 0.096rem;
    font-family: 'NeueHaasDisplayXThin';
    font-weight: 600;
    text-align: center;
    color: rgba(82, 82, 82, 1);
}

/* ---------------authentication-bottom-------------- */
.authentication-bottom{
    height: fit-content;
    width: 100%;
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    row-gap: 3.6rem;
    align-items: center;
}

.authentication-bottom-img{
    width: 84rem;
    height: 43.2rem;
}

.authentication-bottom-img .img{
    height: 100% !important;
    width: 100% !important;
    object-fit: contain !important;
    position: static !important;
}

.authentication-bottom .authentication-bottom-content{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2.4rem;
}

.authentication-bottom .authentication-bottom-content .authentication-bottom-content-top{
    display: flex;
    flex-direction: column;
    row-gap: 0.72rem;
}

.authentication-bottom .authentication-bottom-content .authentication-bottom-content-top p{
    color: rgba(38, 38, 38, 1);
    font-size: 1.44rem;
    font-weight: 600;
    letter-spacing: 0.096rem;
    font-family: 'NeueHaasDisplayThin';
    text-align:center;
    line-height:200%;
}

.authentication-bottom .authentication-bottom-content .authentication-bottom-content-top{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.authentication-bottom .authentication-bottom-content .authentication-bottom-content-bottom{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.6rem;
}

.authentication-bottom-content-medium{
    display: block;
    height: 0.12rem;
    width: 4.8rem;
    background-color: rgba(255, 210, 170, 1);
    border-radius: 0.12rem;
}

.authentication-bottom-content-bottom p{
    color: rgba(38, 38, 38, 1);
    font-size: 1.44rem;
    font-weight: 600;
    letter-spacing: 0.096rem;
    font-family: 'NeueHaasDisplayThin';
    text-align:center;
    line-height:160%!important;
}