.nextgeneration-wrapper{
    height: fit-content;
    width: 100%;
    /* max-width:106.4rem;
    padding-inline:2rem; */
    padding-top: 8.4rem;
    padding-bottom: 8.4rem;
    border-top: solid 0.12rem rgba(0,0,0,1);
    /* display: flex;
    flex-direction: column;
    row-gap: 1.2rem; */
}
.nextgeneration-main{
    height: fit-content;
    width: 100%;
    max-width:95rem;
    margin-inline:auto;
    padding-inline:2rem;
    display: flex;
    flex-direction: column;
    align-items:center;
    row-gap: 0.8rem;
}
.nextgeneration-wrapper .nextgeneration-top{
    display: flex;
    flex-direction: column;
    row-gap: 0.4rem;
    height: fit-content;
    width: 100%;
}

.nextgeneration-wrapper .nextgeneration-top h2{
    font-size: 2.04rem;
    font-family: 'NeueHaasDisplayThin';
    font-weight: 600;
    line-height: 150%;
    color: #000;
    letter-spacing: 0.096rem;
    text-align: center;
}

/* .nextgeneration-wrapper .nextgeneration-top span:last-child{
    font-size: 2.04rem;
    font-family: 'NeueHaasDisplayThin';
    font-weight: 600;
    line-height: 100%;
    color: #000;
    text-align: center;
    letter-spacing: 0.096rem;
} */

.nextgeneration-bottom{
    height: fit-content;
    width: 100%;
    max-width:60%;
    /* margin-inline:auto; */
    display: flex;
    flex-direction: column;
    row-gap: 0.72rem;
}

.nextgeneration-bottom p{
    font-size: 1.08rem;
    font-family: 'NeueHaasDisplayXThin';
    font-weight: 600;
    line-height: 160%;
    color: rgba(82, 82, 82, 1);
    letter-spacing: 0.06rem;
    text-align: center;
}

@media screen and (max-width: 1730px) {
    .nextgeneration-main {
        max-width: 90rem;
    }
}

@media screen and (max-width: 1360px) {
    .nextgeneration-main {
        max-width: 74rem;
    }

    .nextgeneration-wrapper .nextgeneration-top h2 {
        font-size: 1.84rem;
    }

    .nextgeneration-bottom p {
        font-size: 0.88rem;
    }
}
@media screen and (max-width: 1024px) {
    .nextgeneration-wrapper {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .nextgeneration-wrapper .nextgeneration-top h2 {
        font-size: 1.7rem;
    }

    .nextgeneration-bottom {
        max-width: 90%;
    }

    .nextgeneration-bottom p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {

    .nextgeneration-wrapper .nextgeneration-top h2 {
        font-size: 1.5rem;
    }

    .nextgeneration-bottom {
        max-width: 90%;
    }

    .nextgeneration-bottom p {
        font-size: 0.96rem;
    }
}

@media screen and (max-width: 480px) {

    .nextgeneration-main {
        padding-inline: 1.2rem;
    }

    .nextgeneration-wrapper .nextgeneration-top h2 {
        font-size: 1.3rem;
    }

    .nextgeneration-bottom {
        max-width: 90%;
    }

    .nextgeneration-bottom p {
        font-size: 0.9rem;
    }
}