.operating-principle-wrapper{
    height:fit-content;
    width:100%;
    padding-block:5rem;
}
.operating-principle-main{
    height:fit-content;
    width:100%;
    max-width:70%;
    margin-inline:auto;
    padding-inline:1rem;
    display:flex;
    flex-direction: column;
    row-gap:2rem;
}
.operating-principle-top{
    height:fit-content;
    width:auto;
    display:flex;
    flex-direction: column;
    row-gap:2rem;
}
.operating-principle-top-tcontent{
    height:fit-content;
    width:auto;
}
.operating-principle-top-tcontent h2{
    font-size:0.9rem;
    font-family: 'NeueHaasDisplayXThin';
    color:#737373;
    text-align:center;
    letter-spacing: 0.1rem;
    line-height:100%;
    text-transform: uppercase;
}
.operating-principle-top-mcontent{
    height:fit-content;
    width:auto;
}
.operating-principle-top-mcontent h3{
    font-family: 'NeueHaasDisplayThin';
    font-size:2.5rem;
    font-weight:600;
    color:#000000;
    text-align:center;
    letter-spacing: 0.09rem;
    line-height: 100%;
}
.operating-principle-top-bcontent{
    height:fit-content;
    width:auto;
}
.operating-principle-top-bcontent p{
    font-family: 'NeueHaasDisplayThin';
    font-weight:600;
    font-size:1rem;
    text-align:center;
    letter-spacing: 0.09rem;
    line-height: 100%;
    color:rgba(82, 82, 82, 1);
}
.operating-principle-bottom{
    height:auto;
    width:100%;
    background-color:transparent;
    margin-top:2.5rem;
}
.operating-principle-bottom .img{
    height:100%!important;
    width:100%!important;
    position:static!important;
    object-fit:contain;
}
/* responsive */
@media screen and (max-width:1730px){
    .operating-principle-main{
        max-width:80%;
    }
}
@media screen and (max-width:1360px){
    .operating-principle-main{
        max-width:90%;
    }
    .operating-principle-main{
        row-gap:1rem;
    }
    .operating-principle-bottom{
        margin-top:1.5rem;
    }
    .operating-principle-top-mcontent h3{
        font-size:2rem;
    }
}
@media screen and (max-width:768px){
    .operating-principle-top{
        row-gap:0.7rem;
    }
    .operating-principle-wrapper{
        padding-block:2rem;
    }
}
@media screen and (max-width:600px){
    .operating-principle-main{
        max-width:100%;
    }
}
@media screen and (max-width:400px){
    .operating-principle-top-mcontent h3{
        font-size:1.8rem;
    }
}