.seeussection-wrapper {
    height: fit-content;
    width: 100%;
    max-width: 106.4rem;
    margin:0 auto;
    padding-inline: 2rem;
    padding-block-start: 12rem;
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;
}

.seeussection-wrapper-text-content {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 0.84rem;
}

.seeussection-wrapper-text-content h2 {
    font-size: 2.4rem;
    letter-spacing: 0.06rem;
    font-weight: 600;
    font-family: 'NeueHaasDisplayThin';
}

.seeussection-wrapper-text-content p{
    font-size: 1.08rem;
    font-family: 'NeueHaasDisplayThin';
    font-weight: 600;
    letter-spacing: 0.072rem;
}

.seeussection-wrapper-video {
    height: 33.6rem;
    width: 100%;
    background-color: transparent;
    border-radius: 0.96rem;
    overflow: hidden;
    position: relative;
}

.seeussection-wrapper-video .play-button {
    height: 7.2rem;
    width: 7.2rem;
    border-radius: 50%;
    background: linear-gradient(#ffd2aa, #fff);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.seeussection-wrapper-video .play-button p {
    font-size: 1.56rem;
    font-family: 'NeueHaasGroteskLight';
}

.seeussection-wrapper-video .img {
    height: 100% !important;
    width: 100% !important;
    object-fit: cover;
    object-position: 100% 50%;
    position: static !important;
}