.herotech-p2n2-wrapper {
    height: 55rem;
    width: 100%;
    background: linear-gradient(180deg, #FFE5CE 0%, #FFFFFF 100%);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-block-end: 8.4rem;
}

.herotech-p2n2-main {
    max-width:106.4rem;
    margin-inline:auto;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 3rem;
    align-items: center;
    padding-inline: 2rem;
}

.herotech-p2n2-left {
    height: fit-content;
    width: fit-content;
    max-width:60rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.8rem;
}

.herotech-p2n2-left-top {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 1.8rem;
}

.core-tech-button {
    height: fit-content;
    width: fit-content;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.6rem;
    padding-inline: 0.96rem;
    padding-block: 0.72rem;
    border-radius: 2.4rem;
    border: solid 0.12rem rgba(0, 0, 0, 1);
}

.core-tech-button span:first-child {
    display: block;
    height: 0.48rem;
    width: 0.48rem;
    border-radius: 50%;
    background: rgba(255, 120, 0, 1);
}

.core-tech-button span:last-child {
    line-height: 100%;
    font-size: 0.84rem;
    font-weight: 600;
    letter-spacing: 0.06rem;
    font-family: 'NeueHaasDisplayXThin';
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ✅ h1 */
.biometric-text {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 0.24rem;
    margin: 0;
    font-weight: normal;
}

.biometric-text span {
    font-size: 3.6rem;
    font-family: 'NeueHaasDisplayThin';
    font-weight: 600;
    letter-spacing: 0.096rem;
    line-height: 110%;
}

.herotech-p2n2-left-bottom {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 2.16rem;
}

/* ✅ h2 */
.ai-engine {
    height: fit-content;
    width: fit-content;
    margin: 0;
    font-weight: normal;
}

.ai-engine span {
    font-size: 3.6rem;
    font-family: 'NeueHaasDisplayThin';
    font-weight: 600;
    letter-spacing: 0.084rem;
    line-height: 100%;
    color: rgba(255, 120, 0, 1);
}

/* ✅ p */
.simple-text {
    height: fit-content;
    width: fit-content;
    margin: 0;
}

.simple-text span {
    line-height: 100%;
    font-family: 'NeueHaasDisplayThin';
    letter-spacing: 0.072rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgba(82, 82, 82, 1);
}

.links {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
    column-gap: 0.96rem;
    padding-block-start: 0.48rem;
}

.links .contact-us {
    height: 3.96rem;
    width: 10.8rem;
    border-radius: 3rem;
    border: solid 0.156rem rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.48rem;
    background-color: rgba(0, 0, 0, 1);
    cursor: pointer;
    text-decoration: none;
}

.links .contact-us span {
    font-family: 'NeueHaasDisplayXXThin';
    font-size: 1.08rem;
    font-weight: 600;
    letter-spacing: 0.0636rem;
    color: rgba(255, 255, 255, 1);
}

.arrow {
    height: 1.2rem;
    width: 1.2rem;
    transition: transform 0.3s ease;
}

.links .contact-us:hover .arrow {
    transform: translateX(4px);
}

.links .learn-more {
    height: 3.96rem;
    width: 10.8rem;
    border-radius: 3rem;
    border: solid 0.156rem rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.48rem;
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
    text-decoration: none;
}

.links .learn-more span {
    font-family: 'NeueHaasDisplayXThin';
    font-size: 1.08rem;
    font-weight: 600;
    letter-spacing: 0.0636rem;
    color: rgba(0, 0, 0, 1);
}

.arrow-dark {
    height: 1.2rem;
    width: 1.2rem;
    transition: transform 0.3s ease;
}

.links .learn-more:hover .arrow-dark {
    transform: translateX(4px);
}

.herotech-p2n2-right {
    height: 32.4rem;
    aspect-ratio: 1/1;
    background-color: transparent;
    border-radius: 50%;
    position: relative;
}

.herotech-p2n2-right .herotech-p2n2-right-inner {
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #DECAB4;
    z-index: 0;
    position: absolute;
}

.herotech-p2n2-right .herotech-p2n2-right-outer {
    height: 78%;
    width: 78%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: radial-gradient(circle, #1E4FA3 0%, #123D7A 50%, #0B2A5B 100%);
    z-index: 0;
    position: absolute;
}

.herotech-p2n2-right .herotech-p2n2-right-img {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
}

.ai-powered {
    position: absolute;
    top: 0;
    right: 0;
    height: 3rem;
    width: 9.66rem;
    background-color: #000;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ai-powered span {
    line-height: 100%;
    font-size: 1.08rem;
    font-family: 'NeueHaasDisplayXThin';
    font-weight: 600;
    letter-spacing: 0.072rem;
    color: #fff;
}

.herotech-p2n2-right-img .img {
    height: 100% !important;
    width: 100% !important;
    position: static !important;
    object-fit: cover;
    transform: scale(1.3);
}